.signup-screen {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f7f8fa;
}

.signup-container {
  margin: 50px auto;
  text-align: center;
  font-family: Arial, sans-serif;

  background: #fff;
  padding: 3rem;
  border-radius: 12px;
  box-shadow: 0 2px 16px rgba(0,0,0,0.07);
  max-width: 480px;
  width: 100%;
}

.signup-title {
  text-align: center;
  font-weight: 700;
  font-size: 2.5rem;
  margin-bottom: 0;
}

.signup-subtitle {
  text-align: center;
  font-weight: 500;
  font-size: 50px;
  margin: 1rem 0 0.5rem;
}

.signup-register {
  text-align: center;
  margin-bottom: 2rem;
}

.signup-container h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.signup-container p {
  margin-bottom: 20px;
  font-size: 14px;
}

.signup-container a {
  color: #2563eb;
  text-decoration: none;
}

.signup-container input {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
}

.signup-container button {
  width: 100%;
  background-color: #2563eb;
  color: white;
  padding: 12px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  margin-top: 10px;
  cursor: pointer;
}

.signup-container button:hover {
  background-color: #1e40af;
}
